{% extends "ApplicationFrontendBundle::layout.html.twig" %}
{% block title %}Leave Management System{% endblock %}

{#% block content %}
	<div class="row-fluid">
		<div class="well login-box" style="float:none !important;margin-left: auto !important;margin-right: auto !important;">
			<div class="alert alert-info">
				{{ 'Leave Application'|trans }}
			</div>
			<form class="add_user_admin_form" method="POST" enctype="multipart/form-data">
				Start: <input type="text" id="txtStartDate" name="txtStartDate" required="required" />
				<select class="txtStartTime" name="txtStartTime">
					<option value="08:00">08:00</option> 
					<option value="08:30">08:30</option>
					<option value="09:00">09:00</option>
					<option value="09:30">09:30</option>
					<option value="10:00">10:00</option>
					<option value="10:30">10:30</option>
					<option value="11:00">11:00</option>
					<option value="11:30">11:30</option>
					<option value="13:00">13:00</option>
					<option value="13:30">13:30</option>
					<option value="14:00">14:00</option>
					<option value="14:30">14:30</option>
					<option value="15:00">15:00</option>
					<option value="15:30">15:30</option>
					<option value="16:00">16:00</option>
					<option value="16:30">16:30</option>
				</select>
				<br/>
				End: <input type="text" id="txtEndDate" name="txtEndDate" required="required" />
				<select class="txtEndTime" name="txtEndTime">
					<option value="08:00">08:00</option> 
					<option value="08:30">08:30</option>
					<option value="09:00">09:00</option>
					<option value="09:30">09:30</option>
					<option value="10:00">10:00</option>
					<option value="10:30">10:30</option>
					<option value="11:00">11:00</option>
					<option value="11:30">11:30</option>
					<option value="12:00">12:00</option>
					<option value="13:30">13:30</option>
					<option value="14:00">14:00</option>
					<option value="14:30">14:30</option>
					<option value="15:00">15:00</option>
					<option value="15:30">15:30</option>
					<option value="16:00">16:00</option>
					<option value="16:30">16:30</option>
					<option value="17:00">17:00</option>
				</select>
				<br/>
				<input type="submit" value="Save" class="btn save-profile">
			</form>
			</div><!--/span-->
	</div><!--/row-->
	<center>
		<div class="below_body">
		<div id="clock">Loading...</div>
		<script type="text/javascript">
			function refrClock(){
				var d=new Date("2014-11-02");
				var s=d.getSeconds();
				var m=d.getMinutes();
				var h=d.getHours();
				var day=d.getDay();
				var date=d.getDate();
				var month=d.getMonth();
				var year=d.getFullYear();
				var days=new Array("Chủ nhật","Thứ hai","Thứ 3","Thứ 4","Thứ 5","Thứ 6","Thứ 7");
				var months=new Array("1","2","3","4","5","6","7","8","9","10","11","12");
				var am_pm;
				if (s<10) {s="0" + s}
				if (m<10) {m="0" + m}
				if (h>12) {h-=12;AM_PM = "PM"}
				else {AM_PM="AM"}
				if (h<10) {h="0" + h}
				document.getElementById("clock").innerHTML= day + "--" + days[day] + " Ngày " + date + "/" +months[month] + "/" + year + " Bây giờ là "+ "  [" + h + ":" + m + ":" + s + "] " + AM_PM;
				setTimeout("refrClock()",1000);
			}
			refrClock();
		</script>
	</center>
{% endblock %#}
{% block content %}
<div class="main-content">
	<div class="list-content">
		<div class="content">
			{% if app.session.getFlashBag().has( 'edit_user_successfully' ) %}
				<div class="alert alert-success">
					<button class="close" data-dismiss="alert" type="button">×</button>
						{% for message in app.session.getFlashBag().get('edit_user_successfully')%}
							{{message}}
						{% endfor %}
				</div>
			{% endif %}
			{% if app.session.getFlashBag().has( 'test_successfully' ) %}
				<div class="alert alert-error">
					<button class="close" data-dismiss="alert" type="button">×</button>
						{% for message in app.session.getFlashBag().get('edit_user_successfully')%}
							{{message}}
						{% endfor %}
				</div>
			{% endif %}
			<ul class="nav nav-tabs" id="list-tabs">
				<li class="active"><a>{{ 'Đăng ký nghỉ'|trans|capitalize }}</a></li>
				<li><a href="{{ path('application_frontend_user_edit', {'userID': user.id}) }}">{{ 'Thay đổi thông tin cá nhân'|trans|capitalize }}</a></li>
				<li><a href="{{ path('application_frontend_task_index') }}">{{ 'Nhật ký nghỉ'|trans|capitalize }}</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="user-admin">
					<form id="form-add-task" enctype="multipart/form-data" method="POST" class="add_user_admin_form form-frontend">
						<div>
			                <label class="required" for="TaskType_ho_ten">Nhân viên</label>
						    <input type="text" name="TaskType[ho_ten]" value="{{ user.firstName }} {{ user.lastName }}" id="TaskType_ho_ten" class="ho_ten" readonly />
						</div>
						<div>
			                <label class="required" for="TaskType_manv">Mã nhân viên</label>
						    <input type="text" name="TaskType[manv]" value="{{ user.username }}" id="TaskType_manv" class="ho_ten" readonly />
						</div>
						<div>
							{{ form_label(form.start) }}
						    {{ form_errors(form.start) }}
						    {{ form_widget(form.start) }}
						    <select class="txtStartTime hour" name="txtStartTime">
								<option value="08:00">08:00</option> 
								<option value="08:30">08:30</option>
								<option value="09:00">09:00</option>
								<option value="09:30">09:30</option>
								<option value="10:00">10:00</option>
								<option value="10:30">10:30</option>
								<option value="11:00">11:00</option>
								<option value="11:30">11:30</option>
								<option value="13:00">13:00</option>
								<option value="13:30">13:30</option>
								<option value="14:00">14:00</option>
								<option value="14:30">14:30</option>
								<option value="15:00">15:00</option>
								<option value="15:30">15:30</option>
								<option value="16:00">16:00</option>
								<option value="16:30">16:30</option>
							</select>
						</div>
						<div>
							{{ form_label(form.end) }}
						    {{ form_errors(form.end) }}
						    {{ form_widget(form.end) }}
						    <select class="txtEndTime hour" name="txtEndTime">
								<option value="08:00">08:00</option> 
								<option value="08:30">08:30</option>
								<option value="09:00">09:00</option>
								<option value="09:30">09:30</option>
								<option value="10:00">10:00</option>
								<option value="10:30">10:30</option>
								<option value="11:00">11:00</option>
								<option value="11:30">11:30</option>
								<option value="12:00">12:00</option>
								<option value="13:30">13:30</option>
								<option value="14:00">14:00</option>
								<option value="14:30">14:30</option>
								<option value="15:00">15:00</option>
								<option value="15:30">15:30</option>
								<option value="16:00">16:00</option>
								<option value="16:30">16:30</option>
								<option value="17:00">17:00</option>
							</select>
						</div>
						{{ form_widget(form) }}
						<div class="submit-profile clearfix">
							<div class="save-user-admin pull-left">
								<i class="icon-save"></i>
								<input class="btn save-profile save-task" type="submit" value="{{ 'Đăng ký'|trans }}" />
							</div>
							<a href="{{ path('application_frontend_task_index') }}" class="btn cancel pull-left">
								<i class="icon-long-arrow-left"></i>
								 {% trans %}Hủy{% endtrans %} 
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		/*$(".txtTaskDate").datepicker({
			dateFormat: "yy-mm-dd",
			numberOfMonths: 1
		});*/
		$("#TaskType_start").datepicker({
			dateFormat: "yy-mm-dd",
			numberOfMonths: 1,
			onSelect: function(selected) {
				$("#TaskType_end").datepicker("option","minDate", selected);
				var d=new Date( $(this).val() );
				if( d.getDay() == 0 ){
					alert('Ngày bắt đầu không thể chọn chủ nhật!');
					$(this).val('');
				} else if( d.getDay() == 6 ){
					saturdayStart('.txtStartTime');
				} else {
					otherdayStart('.txtStartTime');
				}
			}
		});
		$("#TaskType_end").datepicker({
			dateFormat: "yy-mm-dd",
			numberOfMonths: 1,
			onSelect: function(selected) {
				$("#TaskType_start").datepicker("option","maxDate", selected)
				var d=new Date( $(this).val() );
				if( d.getDay() == 0 ){
					alert('Ngày kết thúc không thể chọn chủ nhật!');
					$(this).val('');
				} else if( d.getDay() == 6 ){
					saturdayEnd('.txtEndTime');
				} else {
					otherdayEnd('.txtEndTime');
				}
			}
		});
		function otherdayStart(strClass){
			var strHtml = '';
			strHtml = strHtml + '<option value="08:00">08:00</option>';
			strHtml = strHtml + '<option value="08:30">08:30</option>';
			strHtml = strHtml + '<option value="09:00">09:00</option>';
			strHtml = strHtml + '<option value="09:30">09:30</option>';
			strHtml = strHtml + '<option value="10:00">10:00</option>';
			strHtml = strHtml + '<option value="10:30">10:30</option>';
			strHtml = strHtml + '<option value="11:00">11:00</option>';
			strHtml = strHtml + '<option value="11:30">11:30</option>';
			strHtml = strHtml + '<option value="13:00">13:00</option>';
			strHtml = strHtml + '<option value="13:30">13:30</option>';
			strHtml = strHtml + '<option value="14:00">14:00</option>';
			strHtml = strHtml + '<option value="14:30">14:30</option>';
			strHtml = strHtml + '<option value="15:00">15:00</option>';
			strHtml = strHtml + '<option value="15:30">15:30</option>';
			strHtml = strHtml + '<option value="16:00">16:00</option>';
			strHtml = strHtml + '<option value="16:30">16:30</option>';
			$(strClass).html( strHtml );
		}
		function otherdayEnd(strClass){
			var strHtml = '';
			strHtml = strHtml + '<option value="08:00">08:00</option>';
			strHtml = strHtml + '<option value="08:30">08:30</option>';
			strHtml = strHtml + '<option value="09:00">09:00</option>';
			strHtml = strHtml + '<option value="09:30">09:30</option>';
			strHtml = strHtml + '<option value="10:00">10:00</option>';
			strHtml = strHtml + '<option value="10:30">10:30</option>';
			strHtml = strHtml + '<option value="11:00">11:00</option>';
			strHtml = strHtml + '<option value="11:30">11:30</option>';
			strHtml = strHtml + '<option value="12:00">12:00</option>';
			strHtml = strHtml + '<option value="13:30">13:30</option>';
			strHtml = strHtml + '<option value="14:00">14:00</option>';
			strHtml = strHtml + '<option value="14:30">14:30</option>';
			strHtml = strHtml + '<option value="15:00">15:00</option>';
			strHtml = strHtml + '<option value="15:30">15:30</option>';
			strHtml = strHtml + '<option value="16:00">16:00</option>';
			strHtml = strHtml + '<option value="16:30">16:30</option>';
			strHtml = strHtml + '<option value="17:00">17:00</option>';
			$(strClass).html( strHtml );
		}

		function saturdayStart(strClass){
			var strHtml = '';
			strHtml = strHtml + '<option value="08:00">08:00</option>';
			strHtml = strHtml + '<option value="08:30">08:30</option>';
			strHtml = strHtml + '<option value="09:00">09:00</option>';
			strHtml = strHtml + '<option value="09:30">09:30</option>';
			strHtml = strHtml + '<option value="10:00">10:00</option>';
			strHtml = strHtml + '<option value="10:30">10:30</option>';
			strHtml = strHtml + '<option value="11:00">11:00</option>';
			strHtml = strHtml + '<option value="11:30">11:30</option>';
			$(strClass).html( strHtml );
		}
		function saturdayEnd(strClass){
			var strHtml = '';
			strHtml = strHtml + '<option value="08:00">08:00</option>';
			strHtml = strHtml + '<option value="08:30">08:30</option>';
			strHtml = strHtml + '<option value="09:00">09:00</option>';
			strHtml = strHtml + '<option value="09:30">09:30</option>';
			strHtml = strHtml + '<option value="10:00">10:00</option>';
			strHtml = strHtml + '<option value="10:30">10:30</option>';
			strHtml = strHtml + '<option value="11:00">11:00</option>';
			strHtml = strHtml + '<option value="11:30">11:30</option>';
			strHtml = strHtml + '<option value="12:00">12:00</option>';
			$(strClass).html( strHtml );
		}

		var arrStartHour = new Array();
		arrStartHour['08:00'] = 0; arrStartHour['08:30'] = 30;
		arrStartHour['09:00'] = 60; arrStartHour['09:30'] = 90;
		arrStartHour['10:00'] = 120; arrStartHour['10:30'] = 150;
		arrStartHour['11:00'] = 180; arrStartHour['11:30'] = 210;
		arrStartHour['13:00'] = 240; arrStartHour['13:30'] = 270;
		arrStartHour['14:00'] = 300; arrStartHour['14:30'] = 330;
		arrStartHour['15:00'] = 360; arrStartHour['15:30'] = 390;
		arrStartHour['16:00'] = 420; arrStartHour['16:30'] = 450;

		var arrEndHour = new Array();
		arrEndHour['08:00'] = 0; arrEndHour['08:30'] = 30;
		arrEndHour['09:00'] = 60; arrEndHour['09:30'] = 90;
		arrEndHour['10:00'] = 120; arrEndHour['10:30'] = 150;
		arrEndHour['11:00'] = 180; arrEndHour['11:30'] = 210;
		arrEndHour['12:00'] = 240; arrEndHour['13:30'] = 270;
		arrEndHour['14:00'] = 300; arrEndHour['14:30'] = 330;
		arrEndHour['15:00'] = 360; arrEndHour['15:30'] = 390;
		arrEndHour['16:00'] = 420; arrEndHour['16:30'] = 450;
		arrEndHour['17:00'] = 480;

		$('.save-task').on('click', function(e){
			//e.preventDefault();
			if( $('#TaskType_start').val() && $('#TaskType_end').val() && 
				$('#TaskType_start').val() == $('#TaskType_end').val() ) {
				var startTime = $('.txtStartTime').val();
				var endTime = $('.txtEndTime').val();
				var time = arrEndHour[endTime] - arrStartHour[startTime];
				if( time < 120 ) {
					alert('Giờ nghỉ tối thiểu phải lớn hơn hoặc bằng 2 giờ!');
					return false;
				}
			}
		});
		console.log( arrEndHour );
	</script>
{% endblock %}