{% extends "ApplicationFrontendBundle::layout.html.twig" %}
{% block title %}Leave Management System{% endblock %}

{% block content %}
<div class="main-content">
	<div class="list-content">
		<div class="content">
			{% if app.session.getFlashBag().has( 'edit_user_successfully' ) %}
				<div class="alert alert-success">
					<button class="close" data-dismiss="alert" type="button">×</button>
					{% for message in app.session.getFlashBag().get('edit_user_successfully')%}
						{{message}}
					{% endfor %}
				</div>
			{% endif %}
			{% if app.session.getFlashBag().has( 'add_task_successfully' ) %}
				<div class="alert alert-success">
					<button class="close" data-dismiss="alert" type="button">×</button>
					{% for message in app.session.getFlashBag().get('add_task_successfully')%}
						{{message}}
					{% endfor %}
				</div>
			{% endif %}
			{% if app.session.getFlashBag().has( 'test_successfully' ) %}
				<div class="alert alert-error">
					<button class="close" data-dismiss="alert" type="button">×</button>
					{% for message in app.session.getFlashBag().get('edit_user_successfully')%}
						{{message}}
					{% endfor %}
				</div>
			{% endif %}
			<ul class="nav nav-tabs" id="list-tabs">
				<li><a href="{{ path('application_frontend_homepage') }}">{{ 'Đăng ký nghỉ'|trans|capitalize }}</a></li>
				<li><a href="{{ path('application_frontend_user_edit', {'userID': user.id}) }}">{{ 'Thay đổi thông tin cá nhân'|trans|capitalize }}</a></li>
				<li><a href="{{ path('application_frontend_task_index') }}">{{ 'Nhật ký nghỉ'|trans|capitalize }}</a></li>
				<li class="active"><a>{{ 'Quản lý nghỉ phép'|trans|capitalize }}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="user-admin">
					<table class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th>{{ 'Mã NV'|trans }}</th>
								<th>{{ 'Tên NV'|trans }}</th>
								<th>{{ 'Từ ngày'|trans }}</th>
								<th>{{ 'Tới ngày'|trans }}</th>
								<th>{{ 'Số giờ nghỉ'|trans }}</th>
								<th>{{ 'Loại'|trans }}</th>
								<th>{{ 'Ngày tạo'|trans }}</th>
								<th>{{ 'Người tạo'|trans }}</th>
								<th>{{ 'Ngày duyệt'|trans }}</th>
								<th>{{ 'Người duyệt'|trans }}</th>
								<th>{{ 'Trang thái'|trans }}</th>
							</tr>
						</thead>
						<tbody>
							{% for task in tasks %}
							<tr class="item-{{ task.id }}">
								<td>{{ task.user.username }}</td>
								<td>{{ task.user.firstName }} {{ task.user.lastName }}</td>
								<td>{{ task.start|date('Y-m-d') }} {{ task.startTime }}</td>
								<td>{{ task.end|date('Y-m-d') }}  {{ task.endTime }}</td>
								<td>{{ task.hour }}</td>
								<td>{{ task.loai }}</td>
								<td>{{ task.created|date('Y-m-d h:i:s') }}</td>
								<td>{{ task.owner.firstName }} {{ task.owner.lastName }}</td>
								<td class="approve-date">{{ task.approveDate?task.approveDate|date('Y-m-d h:i:s'):'' }}</td>
								{% if task.approve %}
									<td class="approve">{{ task.approve.firstName }} {{ task.approve.lastName }}</td>
								{% else %}
									<td class="approve"></td>
								{% endif %}
								<td class="confirm-task">
									{% if task.status == 0 %}
										<a href="#confirm" class="btn" data-id="{{ task.id }}" data-toggle="modal"><strong><span>{{ task.trangThai }}</span></strong></a>
									{% else %}
										<a href="#" class="btn disabled" data-id="{{ task.id }}"><span>{{ task.trangThai }}</span></a>
									{% endif %}
								</td>
							</tr>
							{% else %}
								<tr>
									<td colspan="11">{{ 'Hiện chưa có nhân viên nghỉ'|trans }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					{% include 'ApplicationFrontendBundle:Task:confirm.html.twig' %}
					{% if tasks is not empty %}
						{{ pagination|raw }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
	<script type="text/javascript">
		$('.confirm-task').on('click', 'a', function(e) {
			e.preventDefault();
			$('.confirm #task-id').val( $(this).data('id') );
		});
		$('#form-confirm-task .agree-deny').change(function(){
			if($(this).val() == 2) {
				$('.des-wrap').show();
			} else {
				$('.des-wrap').hide();
			}
		});
		$('.confirm .modal-footer').on('click', '.btn-primary', function(e){
			e.preventDefault();
			$that = $(this);
			if($(this).parent().find('.disabled').length){
				return;
			}
			var id = $('#form-confirm-task #task-id').val();
			var status = $('#form-confirm-task input[name="confirm"]:checked').val();
			var des = $('#form-confirm-task #description').val();
			$.ajax({
				type: 'POST',
				url: Routing.generate('application_frontend_task_confirm'),
				dataType: 'json',
				data: {
					id: id,
					status: status,
					des: des
				},
				success: function(data){
					if( data['result'] ) {
						$('tr.item-'+id+' .confirm-task').html( '<a href="#" class="btn disabled">'+data['type']+'</a>' );
						$('tr.item-'+id+' .approve-date').text( data['approve-date'] );
						$('tr.item-'+id+' .approve').text( data['approve'] );
					}
					$('#confirm').modal('hide');
				},
				error: function(jqXHR, textStatus, errorThrown){
					
				},
				beforeSend: function() {
					//$that.addClass("disabled");
					$that.prepend('<i class="icon-refresh icon-spin" style="margin-right: 5px;"></i>');
				},
				complete: function() {
					$that.find('.icon-refresh').remove();
				}
			});
			
		})
		/*$('.confirm-task').on('click', 'a', function(e) {
			e.preventDefault();
			$that = $(this);
			if($(this).parent().find('.disabled').length){
				return;
			}
			var id = $(this).data('id');
			$.ajax({
				type: 'POST',
				url: Routing.generate('application_frontend_task_confirm'),
				dataType: 'json',
				data: {id: id},
				success: function(data){
					if( data['result'] ) {
						$that.text( data['type'] );
						$that.parent().parent().find('.approve-date').text( data['approve-date'] );
						$that.parent().parent().find('.approve').text( data['approve'] );
					}
				},
				error: function(jqXHR, textStatus, errorThrown){
					
				},
				beforeSend: function() {
					$that.addClass("disabled");
					$that.prepend('<i class="icon-refresh icon-spin" style="margin-right: 5px;"></i>');
				},
				complete: function() {
					$that.find('.icon-refresh').remove();
				}
			});
		});*/
	</script>
{% endblock %}