{% extends "ApplicationFrontendBundle::layout.html.twig" %}
{% block title %}Thay đổi thông tin nhân viên{% endblock %}
{% block content %}
<div class="main-content">
	<div class="list-content">
		<div class="content">
			{% if app.session.getFlashBag().has( 'add_user_error' ) %}
				<div class="alert alert-error">
					<button class="close" data-dismiss="alert" type="button">×</button>
						{% for message in app.session.getFlashBag().get('add_user_error')%}
							{{message}}
						{% endfor %}
				</div>
			{% endif %}
			<ul class="nav nav-tabs" id="list-tabs">
				<li><a href="{{ path('application_frontend_homepage') }}">{{ 'Đăng ký nghỉ'|trans|capitalize }}</a></li>
				<li class="active"><a>{{ 'Thay đổi thông tin cá nhân'|trans|capitalize }}</a></li>
				<li><a href="{{ path('application_frontend_task_index') }}">{{ 'Nhật ký nghỉ'|trans|capitalize }}</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="user-admin">
					<form enctype="multipart/form-data" method="POST" class="add_user_admin_form form-frontend">
						{{ form_widget(form) }}
						<div class="submit-profile clearfix">
							<div class="save-user-admin pull-left">
								<i class="icon-save"></i>
								<input class="btn save-profile" type="submit" value="{{ 'Lưu'|trans }}" />
							</div>
							<a href="{{ path('application_frontend_task_index') }}" class="btn cancel pull-left">
								<i class="icon-long-arrow-left"></i>
								 {% trans %}Hủy{% endtrans %} 
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}