{% extends "ApplicationBackendBundle::layout.html.twig" %}

{% block content %}
{% embed "ApplicationBackendBundle:Default:left-sidebar.html.twig" %}
	{% block active_class_user %}active{% endblock %}
{% endembed %}
<div class="main-content">
	<div class="list-content">
		<div class="content">
			{% if app.session.getFlashBag().has( 'add_user_error' ) %}
				<div class="alert alert-error">
					<button class="close" data-dismiss="alert" type="button">×</button>
						{% for message in app.session.getFlashBag().get('add_user_error')%}
							{{message}}
						{% endfor %}
				</div>
			{% endif %}
			<ul class="nav nav-tabs" id="list-tabs">
				<li class="active"><a href="#user">{{ 'add user'|trans|capitalize }}</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="user-admin">
					<form enctype="multipart/form-data" method="POST" class="add_user_admin_form">
						<div class="w50">
							{{ form_label(form.first_name) }}
							{{ form_errors(form.first_name) }}
							{{ form_widget(form.first_name) }}
						</div>
						<div class="w50">
							{{ form_label(form.last_name) }}
							{{ form_errors(form.last_name) }}
							{{ form_widget(form.last_name) }}
						</div>
						{{ form_widget(form) }}
						<div class="submit-profile clearfix">
							<div class="save-user-admin pull-left">
								<i class="icon-save"></i>
								<input class="btn save-profile" type="submit" value="{{ 'Save'|trans }}" />
							</div>
							<a href="{{ path('application_backend_user_index') }}" class="btn cancel-edit-cmspage pull-left">
								<i class="icon-long-arrow-left"></i>
								{% trans %}Cancel{% endtrans %}
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
