<a id="button_collapse_left_sidebar" class="button_collapse_sidebar" href="#"></a>
<aside class="left_sidebar" id="collapse_sidebar">
	<ul>
		<li class="clearfix cms_page {% block active_class_user %}{% endblock %}">
			<a href="{{ path('application_backend_index') }}" class="clearfix">
				<span class="icon_menu"><i class="icon-user"></i></span>
				<span class="title_menu">{{ 'User'|trans }}</span>
				<span class="icon_arrow pull-right"><i class="icon-chevron-right"></i></span>
			</a>
		</li>
		<li class="clearfix cms_page {% block active_class_group %}{% endblock %}">
			<a href="{{ path('application_backend_group_index') }}" class="clearfix">
				<span class="icon_menu"><i class="icon-group"></i></span>
				<span class="title_menu">{{ 'Group'|trans }}</span>
				<span class="icon_arrow pull-right"><i class="icon-chevron-right"></i></span>
			</a>
		</li>
		<li class="clearfix cms_page {% block active_class_task %}{% endblock %}">
			<a href="{{ path('application_backend_task_index') }}" class="clearfix">
				<span class="icon_menu"><i class="icon-tasks"></i></span>
				<span class="title_menu">{{ 'Task'|trans }}</span>
				<span class="icon_arrow pull-right"><i class="icon-chevron-right"></i></span>
			</a>
		</li>
		<li class="clearfix cms_page {% block active_class_report %}{% endblock %}">
			<a href="{{ path('application_backend_report_index') }}" class="clearfix">
				<span class="icon_menu"><i class="icon-print"></i></span>
				<span class="title_menu">{{ 'Report'|trans }}</span>
				<span class="icon_arrow pull-right"><i class="icon-chevron-right"></i></span>
			</a>
		</li>

		<li class="clearfix cms_page {% block active_class_log %}{% endblock %}">
			<a href="{{ path('application_backend_log_index') }}" class="clearfix">
				<span class="icon_menu"><i class="icon-book"></i></span>
				<span class="title_menu">{{ 'Log'|trans }}</span>
				<span class="icon_arrow pull-right"><i class="icon-chevron-right"></i></span>
			</a>
		</li>
		{#<li class="clearfix cms_page {% block active_class_cms_page %}{% endblock %}">
			<a href="{{ path('application_backend_cms_page_index') }}" class="clearfix">
				<span class="icon_menu"><i class="icon-envelope"></i></span>
				<span class="title_menu">{{ 'CMS Pages'|trans }}</span>
				<span class="icon_arrow pull-right"><i class="icon-chevron-right"></i></span>
			</a>
		</li>
		<li class="clearfix cms_page {% block active_class_product %}{% endblock %}">
			<a href="{{ path('application_backend_product_index') }}" class="clearfix">
				<span class="icon_menu"><i class="icon-envelope"></i></span>
				<span class="title_menu">{{ 'Product'|trans }}</span>
				<span class="icon_arrow pull-right"><i class="icon-chevron-right"></i></span>
			</a>
		</li>#}
	</ul>
</aside>