{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
	{{ form_errors(form) }}
	{% if form_errors(form.plainPassword.first) is not empty or form_errors(form.plainPassword.second) is not empty %}
		<div class="alert alert-error"><button class="close" data-dismiss="alert" type="button">×</button> {{ 'Password mismatch'|trans }}</div>
	{% elseif form_errors(form.current_password) is not empty %}
		<div class="alert alert-error"><button class="close" data-dismiss="alert" type="button">×</button> {{ 'Current Password wrong'|trans }}</div>
	{% endif %}
    <div id="fos_user_change_password_form">
		<div>
			{{ form_label(form.current_password, 'Current Password') }}
			{{ form_widget(form.current_password) }}
		</div>
		<div>
			{{ form_label(form.plainPassword.first, 'New Password') }}
			{{ form_widget(form.plainPassword.first) }}
		</div>
		<div>
			{{ form_label(form.plainPassword.second, 'Repeat New Password') }}
			{{ form_widget(form.plainPassword.second) }}
		</div>
		{{ form_rest(form) }}
	</div>
    <div>
        <input class="custom_btn login" type="submit" value="{{ 'Change Password'|trans }}" />
    </div>
</form>
