{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    {#{ form_widget(form) }#}
	{{ form_errors(form) }}
	{% if form_errors(form.plainPassword.first) is not empty or form_errors(form.plainPassword.second) is not empty %}
		<div class="alert alert-error"><button class="close" data-dismiss="alert" type="button">×</button> {{ 'Password mismatch'|trans }}</div>
	{% endif %}
	<div id="fos_user_resetting_form">	
		<div>
			{{ form_label(form.plainPassword.first, 'Password') }}
			{{ form_widget(form.plainPassword.first) }}
		</div>
		<div>
			{{ form_label(form.plainPassword.second,'Repeat Password') }}
			{{ form_widget(form.plainPassword.second) }}
		</div>
		{{ form_rest(form) }}
	</div>
	<div>
        <input class="custom_btn login" type="submit" value="{{ 'Reset'|trans }}" />
    </div>
</form>
