{% extends "ApplicationBackendBundle::layout.html.twig" %}

{% block content %}
{% embed "ApplicationBackendBundle:Default:left-sidebar.html.twig" %}
	{% block active_class_report %}active{% endblock %}
{% endembed %}
<div class="main-content">
	<div class="list-content list_cms_page">
		<div class="content">
			<ul class="nav nav-tabs" id="list-tabs">
				<li><a class="btn">{{ 'Report'|trans }}</a></li>
				<li><a class="file-input-wrapper btn" href="{{ path('application_backend_report_export') }}">Export</a></li>
				<li>
					<form id="exportDay" method="POST" enctype="multipart/form-data" action="{{ path('application_backend_report_export_day') }}">
						<input type="date" readonly="readonly" required="required" name="from_date" id="from_date" class="from-date date">
						<input type="date" readonly="readonly" required="required" name="to_date" id="to_date" class="to-date date">
						<input type="submit" value="Export" class="btn">

					</form>
				</li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="cms-page">
					<table class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th>{{ 'Username (Id)'|trans }}</th>
								<th>{{ 'First Name'|trans }}</th>
								<th>{{ 'Last Name'|trans }}</th>
								<th>{{ 'Email'|trans }}</th>
								<th>{{ 'Gender'|trans }}</th>
								<th>{{ 'Role'|trans }}</th>
								<th>{{ 'Entitled (hour)'|trans }}</th>
								<th>{{ 'Taken (hour)'|trans }}</th>
								<th>{{ 'Balance (hour)'|trans }}</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
							<tr>
								<td>{{ user.username }}</td>
								<td>{{ user.firstName }}</td>
								<td>{{ user.lastName }}</td>
								<td>{{ user.email }}</td>
								<td>{{ user.gender?'Male':'Female' }}</td>
								<td>{% for role in user.roles %}{% if role != 'ROLE_USER' %}{{ role }}<br/>{% endif %}{% endfor %}</td>
								<td>{{ user.entitled }}</td>
								<td>{{ user.taken }}</td>
								<td>{{ user.balance }}</td>
							</tr>
							{% else %}
								<tr>
									<td colspan="9">{{ 'No user found'|trans }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					{% if users is not empty %}
						{{ pagination | raw }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block stylesheet %}
	<style>
		#exportDay {
			margin-bottom: 0;
			padding-top: 5px;
		}
		#exportDay .date {
			width: 80px;
			margin-left: 5px;
			margin-bottom: 0;
		}
		#exportDay .ui-datepicker-trigger {
			background-color: transparent;
			border: none;
		}
		#exportDay .ui-datepicker-trigger img {
			width: 20px;
		}
	</style>
{% endblock %}
{% block javascript %}
	<script type="text/javascript">
		$("#from_date").datepicker({
			showOn: "button",
			buttonImage: "/application/images/calendar.gif",
			dateFormat: "yy-mm-dd",
			numberOfMonths: 1,
			onSelect: function(selected) {
				$("#to_date").datepicker("option","minDate", selected);
			}
		});
		//.datepicker("setDate", new Date());
		$("#to_date").datepicker({
			showOn: "button",
			buttonImage: "/application/images/calendar.gif",
			dateFormat: "yy-mm-dd",
			numberOfMonths: 1,
			onSelect: function(selected) {
				$("#from_date").datepicker("option","maxDate", selected);
			}
		});
	</script>
{% endblock %}