{% extends "ApplicationBackendBundle::layout.html.twig" %}

{% block content %}
{% embed "ApplicationBackendBundle:Default:left-sidebar.html.twig" %}
	{% block active_class_group %}active{% endblock %}
{% endembed %}
<style>
	#GroupType_manager,
	#GroupType_employee{
		height: 150px;
	}
	.user-nanager  label{
		text-align: left;
	}
</style>
<div class="main-content">
	<div class="list-content">
		<div class="content">
			<ul class="nav nav-tabs" id="list-tabs">
				<li class="active"><a href="#group">{{ 'Add department'|trans|capitalize }}</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active row-fluid" id="product">
					<form enctype="multipart/form-data" method="POST" class="edit_group_form backend-form">
						<div class="span3">
							{{ form_widget(form) }}
							<div class="submit-profile clearfix">
								<div class="save-group pull-left">
									<i class="icon-save"></i>
									<input class="btn save-profile" type="submit" value="{{ 'Save'|trans }}" />
								</div>
								<a href="{{ path('application_backend_group_index') }}" class="btn cancel-edit-cmspage pull-left">
									<i class="icon-long-arrow-left"></i>
									{% trans %}Cancel{% endtrans %}
								</a>
							</div>
						</div>
						<div class="span9 user-nanager">
							<table style='width:370px;'>
								<tr>
									<td style='width:160px;'>
										<label for="GroupType_employee">All User</label>
										<select multiple="multiple" id="GroupType_employee" name="GroupType_employee">
											{% for user in users %}
												<option value="{{ user.id }}">{{ user.username }} - {{ user.getName }}</option>
											{% endfor %}
										</select>
									</td>
									<td style='width:50px;text-align:center;vertical-align:middle;'>
										<input type='button' id='btnRight' value ='  >  '/>
										<br/><input type='button' id='btnLeft' value ='  <  '/>
									</td>
									<td style='width:160px;'>
										<label for="GroupType_manager">Manager</label>
										<select multiple="multiple" id="GroupType_manager" name="GroupType_manager[]" readonly>
											<option value="1">admin - Linh Tran</option>
										</select>
									</td>
								</tr>
							</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
	<script type="text/javascript">
		$('#btnRight').click(function(e) {
			var selectedOpts = $('#GroupType_employee option:selected');
			if (selectedOpts.length == 0) {
				alert("Nothing to move.");
				e.preventDefault();
			}

			$('#GroupType_manager').append($(selectedOpts).clone());
			$(selectedOpts).remove();
			e.preventDefault();
		});

		$('#btnLeft').click(function(e) {
			var selectedOpts = $('#GroupType_manager option:selected');
			if (selectedOpts.length == 0) {
				alert("Nothing to move.");
				e.preventDefault();
			}

			$('#GroupType_employee').append($(selectedOpts).clone());
			$(selectedOpts).remove();
			e.preventDefault();
		});
	</script>
{% endblock %}
{% block js_upload %}GroupType_content{% endblock %}