{% extends "ApplicationBackendBundle::layout.html.twig" %}

{% block content %}
{% embed "ApplicationBackendBundle:Default:left-sidebar.html.twig" %}
	{% block active_class_group %}active{% endblock %}
{% endembed %}
<style>
	#GroupType_manager,
	#GroupType_employee{
		height: 150px;
	}
	.user-nanager label{
		text-align: left;
		margin-left: 5px;
	}
	#sortable1, #sortable2 {
		border: 1px solid #eee;
		min-height: 20px;
		list-style-type: none;
		margin: 0;
		padding: 5px 0 0 0;
		margin-right: 10px;
		width: 212px;
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 210px;
	}
	#sortable1 li, #sortable2 li {
		margin: 0 5px 5px 5px;
		padding: 5px;
		font-size: 1.2em;
		cursor: move;
		text-align: left;
	}
	.user-nanager ul.connectedSortable {

	}
</style>
<div class="main-content">
	<div class="list-content">
		<div class="content">
			<ul class="nav nav-tabs" id="list-tabs">
				<li class="active"><a href="#group">{{ 'Add department'|trans|capitalize }}</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active row-fluid" id="product">
					<form enctype="multipart/form-data" method="POST" class="edit_group_form backend-form">
						<div class="span3">
							{{ form_widget(form) }}
							<div class="submit-profile clearfix">
								<div class="save-group pull-left">
									<i class="icon-save"></i>
									<input class="btn save-profile" type="submit" value="{{ 'Save'|trans }}" />
								</div>
								<a href="{{ path('application_backend_group_index') }}" class="btn cancel-edit-cmspage pull-left">
									<i class="icon-long-arrow-left"></i>
									{% trans %}Cancel{% endtrans %}
								</a>
							</div>
						</div>
						<div class="span9 user-nanager">
							{#<table style='width:370px;'>
								<tr>
									<td style="width:200px; vertical-align: top;">
										<label for="GroupType_employee">All User</label>
										<ul id="sortable1" class="connectedSortable">
											{% for user in users %}
												<li id="{{ user.id }}" class="ui-state-default">{{ user.username }} - {{ user.getName }}</li>
											{% endfor %}
										</ul>
									</td>
									<td style="width:200px; vertical-align: top;">
										<label for="GroupType_manager">Manager</label>
										<ul id="sortable2" class="connectedSortable">
										</ul>
									</td>
								</tr>
							</table>#}
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
	<script type="text/javascript">
		$( "#sortable1, #sortable2" ).sortable({
			connectWith: ".connectedSortable",
		});
		$( "#sortable2" ).sortable({
			update:function(event,ui){
				var aDatas = $(this).sortable('toArray');
				$.ajax({
					type: 'POST',
					url: Routing.generate('application_backend_group_add_manager'),
					dataType: 'json',
					data: {
						groupId: groupId,
						aDatas: aDatas
					},
					success: function(data){
						if( data['result'] ) {
							$('tr.item-'+id+' .confirm-task').html( '<a href="#" class="btn disabled">'+data['type']+'</a>' );
							$('tr.item-'+id+' .approve-date').text( data['approve-date'] );
							$('tr.item-'+id+' .approve').text( data['approve'] );
						}
						$('#confirm').modal('hide');
					},
					error: function(jqXHR, textStatus, errorThrown){
						
					},
					beforeSend: function() {
						//$that.addClass("disabled");
						$that.prepend('<i class="icon-refresh icon-spin" style="margin-right: 5px;"></i>');
					},
					complete: function() {
						$that.find('.icon-refresh').remove();
					}
				});
			}
		});
	</script>
{% endblock %}
{% block js_upload %}GroupType_content{% endblock %}