{% extends "ApplicationBackendBundle::layout.html.twig" %}

{% block content %}
{% embed "ApplicationBackendBundle:Default:left-sidebar.html.twig" %}
	{% block active_class_group %}active{% endblock %}
{% endembed %}
<div class="main-content">
	<div class="list-content list_cms_page">
		<div class="content">
			{% if app.session.getFlashBag().has( 'edit_group_successfully' ) %}
				<div class="alert alert-success">
					<button class="close" data-dismiss="alert" type="button">×</button>
						{% for message in app.session.getFlashBag().get('edit_group_successfully')%}
							{{message}}
						{% endfor %}
				</div>
			{% endif %}
			{% if app.session.getFlashBag().has( 'add_group_successfully' ) %}
				<div class="alert alert-success">
					<button class="close" data-dismiss="alert" type="button">×</button>
						{% for message in app.session.getFlashBag().get('add_group_successfully')%}
							{{message}}
						{% endfor %}
				</div>
			{% endif %}
			<ul class="nav nav-tabs" id="list-tabs">
				<li><a class="btn" href="{{ path('application_backend_group_add') }}">{{ 'Add'|trans }}</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="cms-page">
					<table class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th>{{ 'ID'|trans }}</th>
								<th>{{ 'Name'|trans }}</th>
								<th>{{ 'Boss'|trans }}</th>
								<th>{{ 'Created'|trans }}</th>
								<th>{{ 'Updated'|trans }}</th>
								<th>{{ 'Action'|trans }}</th>
							</tr>
						</thead>
						<tbody>
							{% for group in groups %}
							<tr>
								<td>{{ group.id }}</td>
								<td>{{ group.name }}</td>
								<td>{{ group.user.username }} - {{ group.user.firstName }} {{ group.user.lastName }}</td>
								<td>{{ group.created|date('d-m-y') }}</td>
								<td>{{ group.updated|date('d-m-y') }}</td>
								<td>
									<a href="{{ path('application_backend_group_edit',{'groupID' : group.id}) }}" class="edit-group">{{ 'Edit'|trans }}</a> | 
									<a href="{{ path('application_backend_group_add_user',{'groupID' : group.id}) }}" class="add-group-user">{{ 'Add User'|trans }}</a> | 
									<a onclick="return confirm('{% trans %}Are you sure you want to delete this group{% endtrans %}?');" href="{{ path('application_backend_group_delete',{'groupID' : group.id}) }}" class="delete_group">{{ 'Delete'|trans }}</a>
								</td>
							</tr>
							{% else %}
								<tr>
									<td colspan="4">{{ 'No group found'|trans }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					{% if groups is not empty %}
						{{ pagination | raw }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}