{% extends "ApplicationBackendBundle::layout.html.twig" %}

{% block content %}
{% embed "ApplicationBackendBundle:Default:left-sidebar.html.twig" %}
	{% block active_class_log %}active{% endblock %}
{% endembed %}
<div class="main-content">
	<div class="list-content list_cms_page">
		<div class="content">
			<ul class="nav nav-tabs" id="list-tabs">
				<li><a class="btn">{{ 'Log'|trans }}</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="cms-page">
					<table class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th>{{ 'Action'|trans }}</th>
								<th>{{ 'Message'|trans }}</th>
								<th>{{ 'Author'|trans }}</th>
								<th>{{ 'Date'|trans }}</th>
							</tr>
						</thead>
						<tbody>
							{% for log in logs %}
							<tr>
								<td>{{ log.action }}</td>
								<td>{{ log.message }}</td>
								<td>{{ log.author }} - {{ log.author.firstName }} {{ log.author.lastName }}</td>
								<td>{{ log.created|date('Y-m-d h:i:s') }}</td>
							</tr>
							{% else %}
								<tr>
									<td colspan="4">{{ 'No log found'|trans }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					{% if logs is not empty %}
						{{ pagination | raw }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}